<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>

    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

</head>

<body>
    <h1><em>Noticias aleatorias españolas (Random Spanish News)</em></h1>
    <div class="SpanishNews">
        <h1>
            <%= news.title %>
        </h1>
        <img src="<%= news.urlImage %>" alt="harry boy kane">
        <p>
            <%= news.description %>
        </p>
        <p>
            <%= news.content %>
        </p>
    </div>
</body>

</html>ß